body {
    background-color: #fff;
    color: #111;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin-left: 20px;
}
h1, h2, h3 {
    color: rgb(14, 97, 140);
    margin-left: 15px;
}
p {
    margin: 0 30px 1em;
}
#wrapper {
    max-width: 750px;
    margin: 0 auto;;
}
.members {
    background-color: #deb887;
}
footer {
    font-size: 85%;
}